<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PlaneAPP.Properties.Settings.PlaneAPPConnectionString"
            connectionString="server=localhost;user id=root;database=PlaneAPP;password=lukman122002;persistsecurityinfo=False"
            providerName="MySql.Data.MySqlClient" />
        <add name="PlaneAPP.Properties.Settings.plane_appConnectionString"
            connectionString="server=localhost;user id=root;password=lukman122002;persistsecurityinfo=True;database=plane_app"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>